:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --white-color: #ffffff;
  --background-white: #ffffff;
  --background-grey: #f5f4fa;
  --background-black: #2f303a;
  --color-a-grey: rgba(255, 255, 255, 0.6);
  --main-button: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  width: 1600px;
  font-size: 14px;
  background-color: var(--background-white);
  color: var(--grey-color);
}
/* шапка */
.header{
  width: 1600px;
  display: flex;
  border-bottom: 1px solid var(--background-grey);
}
.menu{
  display: flex;
  margin: 32px 0px 32px 93px;
}
.menu-link:not(:last-child){
  margin: 0px 50px 0px 0px;
}
.logo {
  width: 145px;
height: 31px;
left: 215px;
top: 24px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--black-color);
  letter-spacing: 0.03em;
  margin: 24px 0px 25px 215px;
}
.logo-web {
  color: var(--blue-color);
}
.menu .link:hover,
.menu .link:focus {
  color: var(--blue-color);
}
.menu-link,
.header-mail,
.header-tel {
  list-style: none;
}
.menu .link {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* contact */
.header-contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-mail{
  margin: 19px 0px 32px 251px;
}
.header-tel{
  margin: 19px 215px 32px 50px;
}
.header-contact .link {
  text-decoration: none;
  color: var(--grey-color);
}
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--blue-color);
}
/* main */
.main-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 200px 452px 280px 452px ;
  text-align: center;
}
.main-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--background-black);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
width: 200px;
height: 50px;

}
.button-box{
  position: absolute;
  width: 200px;
height: 50px;
left: 700px;
top: 480px;
margin-top: -30px;

}
.main-buttons:hover,
.main-button:focus {
  background-color: var(--main-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.benefits-ul {
  list-style: none;
}
.benefits-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}
.benefits-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.lessons-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.lessons-ul {
  list-style: none;
}
.team-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-color);
}
.team-ul {
  list-style: none;
}
.team-li-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.team-li-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* footer */
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-black);
  margin: -34px -8px -8px -8px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--white-color);
  letter-spacing: 0.03em;
  margin: 60px 1240px 0px 215px;
}
.logo-web-footer {
  color: var(--blue-color);
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin: 20px 1154px 0px 215px;
  font-style: normal;
}

.footer-mail {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-a-grey);
  margin: 9px 1154px 0px 215px;
}
.footer-tel {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-a-grey);
  margin: 9px 1154px 0px 215px;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--blue-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--blue-color);
}
/* студия */
.biznes{
  margin: -34px -8px 0px -8px;
  background-color: var(--background-black);
}
.benefits-ul{
  display: flex;
  margin: 94px 215px 94px 215px;
}
.benefits-ul-li:not(:last-child) {
  margin-right: 30px;
}
.lessons-h{
 margin-left: 612px;
 margin-top: 94px;
 margin-bottom: 50px;
}
.lessons-ul{
  display: flex;
  margin-bottom: 94px;
  margin-left: 215px;
  margin-right: 215px;
}
.lessons-ul-li:not(:last-child) {
  margin-right: 30px;
}
.team{
  background-color: var(--background-grey);
  margin: -34px -8px -8px -8px;
}
.team-h{
  padding-top: 94px;
text-align: center;
}
.team-ul{
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
  margin-right: 215px;
  padding-bottom: 95px;
}
.team-li:not(:last-child) {
  margin-right: 30px;
}

/* портфолио */
.filter-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: var(--background-grey);
  cursor: pointer;  margin-top: 0;
  padding-left: 0;
  margin-bottom: 34px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
}
.filter-li:not(:last-child){
  margin: 0px 8px 0px 0px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.filter-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.projects-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-li-h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin: 20px 24px 0px 24px;
}
.projects-li-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin: 4px 24px 20px 24px;
}
.projects-li{
  border: 1px solid var(--background-grey)
}
.global-box{
 margin: 94px 180px;
}

